.formio-form nav::before {
  background-color: red;
  width: 100%;
  display: block;
  height: 20px;
  margin-top: 1rem;
  position: absolute;
}
.formio-form nav {
  /* background-color: #eee; */
  margin-bottom: 1rem;
}

.formio-form .pagination .page-link {
  border-radius: 50px !important;
  padding: 1rem;
}

.formio-form .pagination {
  /* justify-content: center; */
  overflow: auto;
}

.formio-wizard-nav-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.formio-wizard-nav-container button {
  margin-left: 20px;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
.formio-wizard-nav-container .btn-secondary {
  background-color: #eee;
}

.wizard-page {
  overflow: auto;
}

.formio-form .form-group {
  /* margin-top: 1rem; */
  /* width: 50%;
  float: left;
  clear: right; */
  /* padding-right: 1rem; */
}
.formio-form .form-group div {
  margin-top: 0.5rem;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-6 {
  width: 50%;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.tab-pane {
  border-color: #eee;
  border-style: solid;
  border-width: 0px 1px 1px 1px;

  padding-bottom: 1rem;
}

.formio-component {
  overflow: auto;
  padding: 5px 5px;
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.card-header {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
  border-bottom-color: rgb(221, 221, 221);
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.col-form-label {
  font-weight: bold;
}

.input-group > .form-control:not(:first-child) {
  border-left: 1px solid #eee;
}

.formio-select-autocomplete-input {
  opacity: 0;
  position: relative;
  z-index: -1;
  display: block;
  height: 0;
  border: none;
}

.field-required::after {
  position: relative;
  z-index: 10;
}
.field-required::after,
.tab-error::after {
  content: " *";
  color: #eb0000;
}
.form-text.error {
  color: #eb0000;
}
@media screen and (max-width: 480px) {
  .formio-form .form-group {
    width: 100%;
  }
  .col-md-6 {
    width: 100%;
  }
}
